<h1>Os integrantes em memes de gatos</h1>
<div class="container">
    <img src="\assets\camila.jpg" width="250" height="250">
    <p>Camila: julga tudo e todos</p>
    <img src="\assets\rebeca.jpg" width="250" height="250">
    <p>Rebeca: a mais simpática</p>
    <img src="\assets\robson.jpg" width="250" height="250">
    <p>Robson: O emo dark</p>
</div>

<h1>Construção de um gestor de compras</h1>
<p>É possível adicionar e editar sua lista de compras, excluir um item, já calculando o total e o quanto ainda tem de restante no mês</p>
