<h1>Os integrantes em memes de gatos</h1>
<div class="container">
    <figure>
        <img src="\assets\camila.jpg" width="250" height="250">
        <figcaption>Camila: julga tudo e todos</figcaption>
    </figure>
    <figure>
        <img src="\assets\rebeca.jpg" width="250" height="250">
        <figcaption>Rebeca: a mais simpática</figcaption>
    </figure>
    <figure>
        <img src="\assets\robson.jpg" width="250" height="250">
        <figcaption>Robson: O emo dark</figcaption>
    </figure>
</div>

<h1>Construção de um gestor de compras</h1>
<p>É possível adicionar e editar sua lista de compras, excluir um item, já calculando o total e o quanto ainda tem de restante no mês</p>
