<button (click)="opcao = 'exemplo01'">Exercício</button>
<button (click)="opcao = 'ex01'">Exercício</button>
<button (click)="opcao = 'ex02'">Exercício</button>
<button (click)="opcao = 'ex03'">Exercício</button>
<button (click)="opcao = 'exemplo-ng-for'">Exercício</button>
<button (click)="opcao = 'ex04'">Exercício</button>
<button (click)="opcao = 'ex05'">Exercício</button>
<button (click)="opcao = 'ex06'">Exercício</button>
<button (click)="opcao = 'ex07'">Exercício</button>

<div [ngSwitch]="opcao">
  <app-exemplo1 *ngSwitchCase="'exemplo01'"></app-exemplo1>
  <app-ex01 *ngSwitchCase="'ex01'"></app-ex01>
  <app-ex02 *ngSwitchCase="'ex02'"></app-ex02>
  <app-ex03 *ngSwitchCase="'ex03'"></app-ex03>
  <app-exemplo-ng-for *ngSwitchCase="'exemplo-ng-for'"></app-exemplo-ng-for>
  <app-ex04 *ngSwitchCase="'ex04'"></app-ex04>
  <app-ex05 *ngSwitchCase="'ex05'"></app-ex05>
  <app-ex06 *ngSwitchCase="'ex06'"></app-ex06>
  <app-ex07 *ngSwitchCase="'ex07'"></app-ex07>
</div>







